.note {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 15px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.note__body {
    display: flex;
    height: 100%;
    font-size: 18px;
    padding: 15px;
}

.note textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: #fff;
    resize: none;
    font-size: 18px;
    padding: 15px;
}

.note textarea:focus {
    outline: none;
}

.note textarea::placeholder {
    color: #fff;
}

.note__save {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: rgba(56 20 195 / 70%);
    color: white;
    min-width: 100px;
    transition: 1s ease-in-out;
    margin-left: auto;

}

.note__save:hover {
    background: rgba(56 20 195 / 90%);
    color: white;
    transition: 1s ease-in-out;
}

.note__delete {
    cursor: pointer;
}

.note__delete:hover {
    transform: scale(1.1);
}

.char__progress {
    background-color: #fff !important;
}

.note__message {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.note__message.show {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}