.notes {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    height: 100vh;
}


.notes__content {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

@media screen and (max-width: 900px) {
    .notes__content {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 600px) {
    .notes__content {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

.notes__header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.notes__title {
    color: #fff;
}

.search__notes {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    margin: 0 auto;
    align-items: center;
    /* background-color: grey; */
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
}

.search__notes input {
    border: none;
    /* background-color: grey; */
    color: white;
    outline: none;
    width: 100%;
    margin-left: 5px;
    background: transparent;

}

.search__notes:focus {
    outline: none;
    color: white;
}

.search__notes input::placeholder {
    color: white;
}