#mainNavbar {
    font-size: 1.2rem;
    /* font-weight: 100; */
    background-color: #191919;
  }
  
  #mainNavbar .navbar-brand {
    color: red;
    font-size: 1.5rem;
    /* font-weight: 100; */
  }
  
  #navLinks ul li a {
    color: white;
  }
  
  #mainNavbar .nav-link:hover {
    color: red;
  }
  
  #basic-navbar-nav {
    justify-content: flex-end;
  }