#mainNavbar {
    font-size: 1.2rem;
    background-color: #191919;
  }
  
  #mainNavbar .navbar-brand img{
    max-width: 50px;
    height: auto;
  }
  
  #navLinks ul li a {
    color: white;
  }
  
  #mainNavbar .nav-link:hover {
    color: rgba(245, 175, 25, 0.8) !important;
  }
  
  #basic-navbar-nav {
    justify-content: flex-end;
  }

  .nav-link.active {
    color: #f5af19 !important;
  }

  .nav-link {
    color: white !important;
  }