/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.glass {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.stackedCol {
  flex-direction: column;
}

.Home .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.Home .col {
  padding: 0 !important;
}

.Home .col-12 {
  padding: 0 !important;
}

.Home .col-xl-6 {
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 790px;
  }
}

@media only screen and (max-width: 641px) {
  .container {
    max-width: 468px;
  }

  .mobile-col {
    flex-direction: column;
  }
}
  
